@textColor: rgb(50,50,50);
@backgroundColor: #fff;
@footerTitleColor: rgb(14,203,203);
@gray: rgb(30,30,30);


body {
	background: url(/images/mesh.png);
    background-repeat: repeat;
    /*padding-top: 50px;*/
    font-size: 16px;
}

@media only screen and (min-width: 1200px) {
	.ui.grid.container {
		width: calc(1427px + 2rem)!important;
	}
}

.login-container {
	margin-top: -50px;
    padding-top: 15% !important;
}


@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
  }
}

.ui.margin-top-40 {
    margin-top: 40px!important;
}