<div class="ui segment">
	<div class="ui items">
		<div class="item">
			<div class="ui small image">
				<img src="/images/smartphone.png">
			</div>
			<div class="middle aligned content">
				<div class="header">
					{{vm.device.device_name}}
				</div>
				<div class="description">
					<h3>Device Status</h3>
					<div class="ui list">
						<div class="item">
							<i class="lightbulb icon"></i>
							<div class="content">
								Ambient light: <div class="ui red horizontal label">800 lux</div>
							</div>
						</div>
						<div class="item">
							<i class="sun icon"></i>
							<div class="content">
								Brightness <div class="ui yellow horizontal label">78%</div>
							</div>
						</div>
					</div>
				</div>
				<div class="extra">
					<div class="ui right floated button">
						Update Status
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3>Rules</h3>
	<div class="ui form">
		<div class="three fields">
			<div class="field">
				<label>Command Type</label>
				<div class="ui selection dropdown">
					<input type="hidden" id="command_type" ng-model="vm.rule.command_type">
					<i class="dropdown icon"></i>
					<div class="default text">Command Type</div>
					<div class="menu">
						<div class="item" data-value="SET_BRIGHTNESS">SET BRIGHTNESS TO</div>
						<div class="item" data-value="SET_BRIGHTNESS_LOWER">SET BRIGHTNESS IF IT'S LOWER THAN</div>
						<div class="item" data-value="SET_BRIGHTNESS_GREATER">SET BRIGHTNESS IF IT'S GREATER THAN</div>
						<div class="item" data-value="SET_BRIGHTNESS_LIGHT_LOWER">SET BRIGHTNESS IF AMBIENT LIGHT IS LOWER THAN</div>
						<div class="item" data-value="SET_BRIGHTNESS_LIGHT_GREATER">SET BRIGHTNESS IF AMBIENT LIGHT IS GREATER THAN</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Brightness Value</label>
				<div class="ui icon input">
					<input type="text" placeholder="Brightness Value [0-255]" ng-model="vm.rule.brightness_value">
					<i class="sun icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Ambient Light Thresold Value</label>
				<div class="ui icon input">
					<input type="text" placeholder="Ambient Light Value [0-14.000]" ng-model="vm.rule.ambient_light_value">
					<i class="lightbulb icon"></i>
				</div>
			</div>
		</div>
		<div class="ui submit button" ng-click="vm.createRule()">Submit</div>

		<h3>Current Rules</h3>
		<table class="ui striped table">
			<thead>
				<tr>
					<th>Command Type</th>
					<th>Brightness Value</th>
					<th>Ambient Light Thresold Value</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="rule in vm.rules track by $index">
					<td>{{rule.command_type}}</td>
					<td>{{rule.brightness_value}}</td>
					<td>{{rule.ambient_light_value}}</td>
					<td>
						<div data-ng-class="(rule.activated) ? 'tiny ui teal submit button' : 'tiny ui red submit button'" ng-click="vm.updateRule(rule, $index)">Active</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
<script type="text/javascript">
	$('.ui.dropdown').dropdown({
	    onChange: function(value, text, $selectedItem) {
	    	console.log(value);
	    	$('#command_type').val(value);
	    }
	});
</script>