<div class = "headerBox">
	<div class="loginForm">
	 	<form>
	 		<label class="loginLabels">Username</label>
	 		<input type="text" id="loginUsername" class="loginInput"/>
	 		<label class="loginLabels">Password</label>
	 		<input type="password" id="loginPassword" class="loginInput"/>
	 		<a class="loginButton">Login</a>
	 	</form>
 	</div>
</div>

<div class="loginContentBox">
	<img src="/images/logo.png" class="loginLogo"/>
	<div class="registerBox">
		<div>
			<br/><br/>
			<label class="registerLabel">Full name </label><br/>
	 		<input type="text" id="loginUsername" class="registerInput"/>
	 		<br/><br/>
			<label class="registerLabel">Username </label><br/>
	 		<input type="text" id="loginUsername" class="registerInput"/>
	 		<br/><br/>
	 		<label class="registerLabel">Password </label><br/>
	 		<input type="password" id="loginPassword" class="registerInput"/>
	 		<br/><br/>
	 		<label class="registerLabel">Confirm password </label><br/>
	 		<input type="password" id="loginPassword" class="registerInput"/>
	 		<br/><br/><br/>
	 		<a class="registerButton" ng-click="login()">Register</a>
		</div>
	</div>
</div>

<div class = "footerBox">
	<div class = "footerContent">
		<div class = "footerElement" style = "border-right: 1px solid rgba(255,255,255,0.1)">
			<label class="footerTitle">ABOUT US</label>
			<br/>
			<p style="margin-right: 5%;">Our aim is to provide a tool of real help 
			for those who want to never lose trace of the people they care about most
			</p>
		</div>
		<div class = "footerElement" style = "border-right: 1px solid rgba(255,255,255,0.1); border-left: 1px solid rgba(1,1,1,0.8)">
			<label class="footerTitle">FAQ's</label>
			<br/>
			<p style="margin-right: 5%; margin-left: 5%">We selected a list with the most frequently asked questions and their answers regarding your remote assistant 
			<a> here</a></p>
		</div>
		<div class = "footerElement" style = "border-left: 1px solid rgba(1,1,1,0.8)">
			<label class="footerTitle">FIND US on GitHub!</label>
			<br/>
			<p style="margin-left: 5%">We like to share our work! If you find it inspiring and of constructive use, please see the source of the application <a href="https://github.com/LauraAsoltanei/PUS">here</a></p>
		</div>
	</div>
	
</div>