 <div class = "headerBox">
 	<img src="/images/logout.png"/>
 </div>
 Login
<div class = "footerBox">
	<img src="http://demodern.com/assets/img/home/mountain2.png" class="montain"/>
	<div class = "footerContent">
		<div class = "footerElement" style = "border-right: 1px solid rgba(255,255,255,0.2)">
			<label class="footerTitle">ABOUT US</label>
			<br/>
			<p style="margin-right: 5%;">Our aim is to provide a tool of real help 
			for those who want to never lose trace of the people they care about most
			</p>
		</div>
		<div class = "footerElement" style = "border-right: 1px solid rgba(255,255,255,0.2); border-left: 1px solid rgba(1,1,1,0.5)">
			<label class="footerTitle">FAQ's</label>
			<br/>
			<p style="margin-right: 5%; margin-left: 5%">We selected a list with the most frequently asked questions and their answers regarding your remote assistant 
			<a> here</a></p>
		</div>
		<div class = "footerElement" style = "border-left: 1px solid rgba(1,1,1,0.5)">
			<label class="footerTitle">FIND US on GitHub!</label>
			<br/>
			<p style="margin-left: 5%">We like to share our work! If you find it inspiring and of constructive use, please see the source of the application <a href="https://github.com/LauraAsoltanei/PUS">here</a></p>
		</div>
	</div>
</div>