<div class="ui stackable grid container">
	<div class="column">
		<a ng-href="#/devices" class="ui medium image">
			<img ng-src="/images/logo.png">
		</a>
	</div>
</div>

<div class="ui stackable two column grid container">
	<div class="three wide column">
		<div class="ui vertical menu">
			<div ng-repeat="item in mvm.menuItems">
				<a class="{{mvm.getCurrentPath() === '/' + item.path ? 'active' : '' }} item" ui-sref="{{item.path}}">
					<i class="large {{item.icon}} icon"></i> {{item.title}}
				</a>
			</div>

			<a class="item" ng-click="mvm.logOut()">
				<i class="large sign out icon"></i> Logout
			</a>
		</div>


	</div>
	<div class="thirteen wide column" ui-view=""></div>
</div>
<div class="ui inverted vertical footer segment form-page">
	<div class="ui four column doubling stackable grid container">
		<div class="column">
			<p>HCI 2016. All Rights Reserved</p>
			<p></p>
		</div>
		<div class="column">
			<h2 class="ui teal inverted header">About</h2>
			<p>Our aim is to provide a tool of real help 
				for those who want to never lose trace of the people they care about most</p>
			</div>
			<div class="column">
				<h2 class="ui teal inverted header">FAQ</h2>
				<p>We selected a list with the most frequently asked questions and their answers regarding your remote assistant 
					<a> here</a></p>
				</div>
				<div class="column">
					<h2 class="ui teal inverted header">FIND US on GitHub!</h2>
					<p>We like to share our work! If you find it inspiring and of constructive use, please see the source of the application <a href="https://github.com/LauraAsoltanei/PUS">here</a></p>
				</div>
			</div>
		</div>